/*
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  
   | |   ____  _____ _     _____     _______ ______   __  _____ _    ____ _____   ____ _______   ___     _____   | |  
   | |  |  _ \| ____| |   |_ _\ \   / / ____|  _ \ \ / / |  ___/ \  / ___|_   _| / ___|_   _\ \ / / |   | ____|  | |  
   | |  | | | |  _| | |    | | \ \ / /|  _| | |_) \ V /  | |_ / _ \ \___ \ | |   \___ \ | |  \ V /| |   |  _|    | |  
   | |  | |_| | |___| |___ | |  \ V / | |___|  _ < | |   |  _/ ___ \ ___) || |    ___) || |   | | | |___| |___   | |  
   | |  |____/|_____|_____|___|  \_/  |_____|_| \_\|_|   |_|/_/   \_\____/ |_|   |____/ |_|   |_| |_____|_____|  | |  
   | |                                                                                                           | |  
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  

    Nombre del archivo: form-styles.css
    
    Descripcion: El siguiente archivo contiene los estilos para los formularios de toda la app

    Estructura del archivo:
    - Buttons
    - Inputs
    - Forms
    - New shipment Sender Form
    - New shipment Recipient Form
      
*/



/*__________________________________________________  
         
            B  U  T  T  O  N  S  
____________________________________________________ 
*/

/* Boton base */
.button{
  background-color: var(--orange-color-higth-contrast);
  height: 38px;
  min-width: 180px;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  cursor: pointer;
}

/* Boton base en rojo */
.button-red{
  background-color: #FF1C1C;
  height: 38px;
  min-width: 180px;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  transition: background-color 1s ease;
}
.btn-change-status{
  width: 400px;
}

.button:hover{
  background-color: #ef9c00;
  color: #fffbeb;
}


/*__________________________________________________  
         
            I   N   P   U   T   S  
____________________________________________________ 
*/

/* El input del grupo de Label e Input*/
.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}


/* Input base */
.input{
  background-color: #FFFFFF;
  color: #222222;
  height: 39px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Tamaño del input*/
.input[type="text"] {
  width: calc(100% - 10px);
}

/* Area de texto fija*/
.textarea {
  resize: none;
}


/* Placeholder del input base */
.input::placeholder {
  color: #787878;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Placeholder del text area*/
.textarea {
  resize: none;
  font-size: 18px;
  color: #787878;
}

/* Clase extra para input que tienen datos no validos*/
.input-error{
  border: 2px solid var(--input-error);
}

/* Color del input cuando tiene el foco*/
input:focus {
  outline: none;
  border: 1px solid #d85300;
  box-shadow: 0 0 4px var(--brand-orange-color);
  transition: all 0.3s ease;
}

.input-error:focus {
  border: 1px solid var(--input-error);
  box-shadow: 0 0 4px #ff5b5b;
}

/* Label base */
.input-label{
  display: block;
  margin-bottom: 5px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}

/* Mensaje de error de los datos */
.input-message{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: var(--input-error);
  transition: all 0.5s ease;
}

/* Mensaje de error */
.input-message-hide{
  display: none;
}


/*__________________________________________________  
         
            S  E  L  E  C  T  S 
____________________________________________________ 
*/


.form-select{
  height: 39px;
  font-size: 18px;
  color: #222;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.form-select:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(252, 163, 17, 0.5);
}


/*__________________________________________________  
         
        T  O  O  G  L  E   B  U  T  T  O  N  
____________________________________________________ 
*/


/* El contenedor principal del switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Oculta el checkbox predeterminado de HTML */
.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* El slider del switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.input:checked + .slider {
  background-color: var(--orange-color-higth-contrast);
}

.input:focus + .slider {
  box-shadow: 0 0 1px var(--orange-color-higth-contrast);
}

.input:checked + .slider:before {
  transform: translateX(26px);
}

/* Bordes redondeados del switch */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Estilos para la tabla */
.table-container-shipment {
  margin-top: 10px;
  overflow-x: auto;
}

.details-shipment {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.details-shipment thead {
  background-color: #f4f4f4;
  font-weight: 700;
}

.details-shipment th,
.details-shipment td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.details-shipment tbody tr:last-child td {
  border-bottom: none;
  font-weight: 700;
  color: #333333;
}

.details-shipment th {
  color: #333333;
}

.details-shipment td {
  color: #555555;
}

/* Estilo para el método de pago */
.payment-method {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-label.payment {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-input {
  width: 25px;
  height: 25px;
  accent-color: #ff9900;
}


/*__________________________________________________  
         
              F   O   R   M   S 
____________________________________________________ 
*/

/* Contenedor de el formulario*/
.form-card{
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* El formulario*/
.form{
  background: transparent;
}

/* Titulo del formulario */
.form-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 15px;
}

/* Conjunto de Label e Input*/
.form-group {
  margin-bottom: 10px;
}

/* Elementos que estan en linea*/
.form-inline {
  display: flex;
  gap: 10px;
}

/* Adaptacion a diferentes tamaños de pantalla*/
.form-inline .form-group {
  flex: 1;
}

.form-edit-status{
  width: 100%;
  padding: 10px;
}



/*__________________________________________________  
         
        S  E  N  D  E  R   F  O  R  M 
____________________________________________________ 
*/


.form-sender, .form-recipient{
  max-width: 800px;
}


/*__________________________________________________  
         
       N E W  S T A T U S  I N F O   F  O  R  M 
____________________________________________________ 
*/

.new-section1{
  gap: 50px;
}

.label-new-info-status{
  font-size: 24px;
}
.status-selects{
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  font-size: 12px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  height: 34px;
  width: 300px;

}

.input-new-info-status{
  font-size: 12px;
  color: #333;
  padding: 8px 12px;
  border-radius: 8px;
  width: 900px;
}

.txta-input-new-notes{
  height: 100px;
}
.new-section1 .input[type="text"] {
  width: 400px;
}

.ship-titles{
  font-size: 28px;
}

.ship-subtitle{
  font-size: 24px;
}

.ship-info-text,.-text{ 
  font-size: 16px;
  padding: 0px;
}





/*__________________________________________________  
         
  R  E  S  P  O  N  S  I  V  E     D  E  S  I  G  N  
____________________________________________________ 
*/

@media  screen and (max-width: 850px) {

  .logo-extendido{
    display: none;
  }

  .sidebar-menu-container{
    display: none;
  }

  .user-rol{
    display: none;
  }

  .new-shupment-page-header{
    flex-direction: column;
  }

  .form-inline{
    flex-direction: column;
    gap:2px;
  }

  .btn-siguiente{
    margin-bottom: 20px;
  }
}
