/*
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  
   | |   ____  _____ _     _____     _______ ______   __  _____ _    ____ _____   ____ _______   ___     _____   | |  
   | |  |  _ \| ____| |   |_ _\ \   / / ____|  _ \ \ / / |  ___/ \  / ___|_   _| / ___|_   _\ \ / / |   | ____|  | |  
   | |  | | | |  _| | |    | | \ \ / /|  _| | |_) \ V /  | |_ / _ \ \___ \ | |   \___ \ | |  \ V /| |   |  _|    | |  
   | |  | |_| | |___| |___ | |  \ V / | |___|  _ < | |   |  _/ ___ \ ___) || |    ___) || |   | | | |___| |___   | |  
   | |  |____/|_____|_____|___|  \_/  |_____|_| \_\|_|   |_|/_/   \_\____/ |_|   |____/ |_|   |_| |_____|_____|  | |  
   | |                                                                                                           | |  
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  

    Nombre del archivo: tables-styles.css
    
    Descripcion: El siguiente archivo contiene los estilos para las tablas de toda la app

    Estructura del archivo:
    - shupment-home-content
    
*/


/*__________________________________________________  
         
      S H U P M E N T  H O M E  C O N T E N T 
____________________________________________________ 
*/

.filter-selects{
    padding: 8px 12px;
    font-size: 18px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-selects:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(252, 163, 17, 0.5);
}

/* Seccion de filtros de envíos*/
.filter-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 20px; /* TOP RIGTH BOTTOM LEFT*/
}

.table-container{
    margin: 5px;
    padding: 5px;
}

#shipment-table{
    font-size: 16px;
    font-family: 'Roboto';
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

#shipment-table th, #shipment-table td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #B9B9B9;
}

#shipment-table th{
    background-color: transparent;
    color: #040404;
    font-weight: bold;
}

#shipment-table tr:hover{
    background-color: #F7F7F7;
}

.isSelectedItemTable {
    background-color: var(--row-selected);
}

.row-selectable{
    cursor: pointer;
}

.row-selected{
    background-color: var(--row-selected);
}

/* Boton para seleccionar un periodo */
.dropdown {
    position: relative;
  }
  
  .dropdown-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content ul {
    list-style: none;
    padding: 10px;
  }
  
  .dropdown-content ul li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .dropdown-content ul li:hover {
    background-color: #f0f0f0;
  }
  
  .dd-custom-period-panel {
    display: none;
    margin-top: 10px;
  }
  
  .dd-custom-period:hover .dd-custom-period-panel {
    display: block;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .dd-custom-period-panel label {
    display: block;
    margin-bottom: 8px;
  }
  
  .dd-custom-period-panel input[type="date"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dd-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .dd-cancel-button,
  .dd-apply-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dd-apply-button {
    background-color: #4caf50;
    color: white;
  }
  
  .dd-apply-button:hover {
    background-color: #45a049;
  }
  
  .dd-cancel-button:hover {
    background-color: #f0f0f0;
  }
  