/*
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  
   | |   ____  _____ _     _____     _______ ______   __  _____ _    ____ _____   ____ _______   ___     _____   | |  
   | |  |  _ \| ____| |   |_ _\ \   / / ____|  _ \ \ / / |  ___/ \  / ___|_   _| / ___|_   _\ \ / / |   | ____|  | |  
   | |  | | | |  _| | |    | | \ \ / /|  _| | |_) \ V /  | |_ / _ \ \___ \ | |   \___ \ | |  \ V /| |   |  _|    | |  
   | |  | |_| | |___| |___ | |  \ V / | |___|  _ < | |   |  _/ ___ \ ___) || |    ___) || |   | | | |___| |___   | |  
   | |  |____/|_____|_____|___|  \_/  |_____|_| \_\|_|   |_|/_/   \_\____/ |_|   |____/ |_|   |_| |_____|_____|  | |  
   | |                                                                                                           | |  
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  

    Nombre del archivo: tables-styles.css
    
    Descripcion: El siguiente archivo contiene los estilos para las tablas de toda la app

    Estructura del archivo:
    - shupment-home-content
    
*/


/*__________________________________________________  
         
      S H U P M E N T  H O M E  C O N T E N T 
____________________________________________________ 
*/

.filter-selects{
    padding: 8px 12px;
    font-size: 18px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-selects:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(252, 163, 17, 0.5);
}

.filter-selects-selected{
  background-color: var(--filter-selected);
  color: #fff;
}

/* Seccion de filtros de envíos*/
.filter-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 20px; /* TOP RIGTH BOTTOM LEFT*/
}

.table-container{
    margin: 5px;
    padding: 5px;
}

.main-table{
    font-size: 16px;
    font-family: 'Roboto';
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

.main-table th, .main-table td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #B9B9B9;
}

.main-table th{
    background-color: transparent;
    color: #040404;
    font-weight: bold;
}

.main-table tr:hover{
    cursor: pointer;
    background-color: #fff4e3;
}

.main-table thead tr:hover{
    cursor: default;
    background: #fff;
}

.isSelectedItemTable {
    background-color: var(--row-selected);
}

.row-selectable{
    cursor: pointer;
}

.row-selected{
    background-color: var(--row-selected);
}

.row-selected:hover{
    background-color: #ff9900;
}



#modified-fields{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;    
}

#modified-fields > tbody > tr, #modified-fields > thead > tr {
    border-bottom: solid 1px #9f9f9f;
}

#modified-fields > tbody > tr > td, #modified-fields > thead > tr > th{
    height: 30px;
    border: solid 1px #9f9f9f;
    white-space: nowrap;       
    overflow: hidden;        
    text-overflow: ellipsis;              
}

.confirm-info{
    font-size: 18px;
    margin-bottom: 4px;
}

@media screen and (max-width: 600px){
    .filter-container{
      flex-direction: column;
    }

    .filter-selects{
      width: 100%;
    }

    .column-estatus, .column-service{
        display: none;
    }

    .column-rol, .column-correo{
        display: none;
    }

    .dropdown-button{
        width: 100%;
        text-align: left;
    }
}


@media screen and (max-width: 300px){
    .column-city{
        display: none;
    }
}