<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exitoso</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../../styles/modal-user-styles.css">
</head>
<body class="body-modal">
    <div id="userModal" class="modal">
        <div class="modal-content">
            <div class="form-group-modal">
                <div class="head-title-modal-container">
                    <h1 class="title-modal-user">¡Envío creado correctamente!</h1>
                </div>

                <div class="form-group-modal">
                    <div class="form-group-modal">
                        <p class="p-subtitles">No.Folio: 
                            <span class="span-content" id="folio-dinamic">00000001</span> 
                        </p>
                    </div>
                    <div class="form-group-modal">
                        <p class="p-subtitles">Guía: 
                            <span class="span-content" id="guia-dinamic">111111111111111</span>
                        </p>
                    </div>

                    <div class="button-group-modal -print-container">
                        <button class="button-modals">Imprimir Ticket</button>
                        <button class="button-modals">Imprimir Guía</button>
                    </div>  
                </div>

                <div class="shipping-information-modal">
                    <div class="ship-info-modal sender-container-modal">
                        <h2 class="ship-subtitle-modal sbt-sender-modal">Remitente</h2>
                        <div class="container-p-span-info-modal">
                            <p class="ship-info-text-modal cont-sender-modal">Nombre: <span>Edgar Yael Cortes Carrillo</span></p>
                            <p class="ship-info-text-modal cont-sender-modal">Dirección: <span>Rio Amarillo #103 Xalapa, Veracruz. C.P 91158</span></p>
                            <p class="ship-info-text-modal cont-sender-modal">Teléfono: <span>2282567570</span></p>
                        </div>
                    </div>

                    <div class="ship-info-modal recipient-container-modal">
                        <h2 class="ship-subtitle-modal sbt-recipient-modal">Destinatario</h2>
                        <div class="container-p-span-info-modal">
                            <p class="ship-info-text-modal cont-recipient-modal">Nombre: <span>Juan Aldair Morales Romero</span></p>
                            <p class="ship-info-text-modal cont-recipient-modal">Dirección: <span>Vicente Vivero #137-1 Xalapa, Veracruz. C.P 91026</span></p>
                            <p class="ship-info-text-modal cont-recipient-modal">Teléfono: <span>9211351427</span></p>
                        </div>
                    </div>

                    <div class="ship-info-modal package-container-modal">
                        <h2 class="ship-subtitle-modal sbt-package-modal">Paquete</h2>
                        <div class="container-p-span-info-modal">
                            <p class="ship-info-text-modal cont-package-modal">Peso: <span>2.5 kg</span></p>
                            <p class="ship-info-text-modal cont-package-modal">Dimensiones: <span>30 x 20 x 10 cm</span></p>
                        </div>
                    </div>

                    <div class="ship-info-modal service-container-modal">
                        <h2 class="ship-subtitle-modal sbt-service-modal">Servicio</h2>
                        <div class="container-p-span-info-modal">
                            <p class="ship-info-text-modal cont-service-modal">Servicio: <span>Express</span></p>
                        </div>
                    </div>
                </div>

                <div class="form-group-modal btnTerminar-container">
                    <button class="button-modals btnTerminar">Terminar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
