<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../../styles/general-styles.css">
    <link rel="stylesheet" href="../../styles/tables-styles.css">
    <link rel="stylesheet" href="../../styles/forms-styles.css">

    <title>DELIVERY FAST</title>
</head>

<body>

    <header>
        <nav class="nav-menu">
            <img class="menu-icon" src="../../resources/icons/menu.svg" alt="Menu Icon Header">
        </nav>
        <div class="container-logo">
            <img class="logo-extendido" src="../../resources/brand/logotipo/logotipo-extendido.svg"
                alt="Delivery Fast Logo Header">
        </div>
        <div class="user-info-container">
            <h1 class="user-rol">COLABORADOR SUCURSAL 1</h1>
            <img class="user-logo" src="../../resources/icons/perfil-icon.svg" alt="Profile Picture">
        </div>
    </header>


    <main class="main-container">

        <aside class="sidebar-menu-container">
            <div class="sidebar-card module-create">
                <button class="new-shupment-btn">
                    <img class="new-shupment-btn-icon" src="../../resources/icons/nuevoFinal.svg"
                        alt="crear nuevo envio">
                    Nuevo envío
                </button>
            </div>

            <div class="sidebar-card module-shupment">
                <p class="list-title">Modulo envíos</p>

                <ul>
                    <li class="sidebar-item-li"><a class="sidebar-item-a" href="#">
                            <img class="sidebar-item-icon" src="../../resources/icons/inicio.svg" alt="">
                            Inicio</a></li>
                    <li class="sidebar-item-li"><a class="sidebar-item-a" href="#">
                            <img class="sidebar-item-icon" src="../../resources/icons/lupa.svg" alt="">
                            Buscar envíos</a></li>
                    <li class="sidebar-item-li"><a class="sidebar-item-a" href="#">
                            <img class="sidebar-item-icon" src="../../resources/icons/caja-registradora.svg" alt="">
                            Ingresos</a></li>
                </ul>
            </div>
            
            <div class="sidebar-card module-packet last-module">
                <p class="list-title">Modulo paquetes</p>

                <ul>
                    <li class="sidebar-item-li"><a class="sidebar-item-a" href="#">
                            <img class="sidebar-item-icon" src="../../resources/icons/buscar-envioFinal.svg" alt="">
                            Paquetes</a></li>
                </ul>

            </div>

        </aside>

        <section class="content-section">
            <h1 class="title-section">Envío > 000001</h1>
            <div class="shupment-home-content">
                <div class="title-container">
                    <h1 class="ship-titles title-shipment-info">Datos del envio</h1>
                </div>
                <div class="shipping-information">
                    <div class="ship-info sender-container">
                        <h2 class="ship-subtitle sbt-sender">Remitente</h2>
                        <div class="container-p-span-info">
                            <p class="ship-info-text cont-sender">Nombre: <span class="ship-info
                                -text cont-sender">Edgar Yael Cortes Carrillo</span></p>
                                <p class="ship-info-text cont-sender">Direccion: <span class="ship-info
                                    -text cont-sender">Rio Amarillo #103 Xalapa, Veracruz. C.P 91158</span></p>
                                    <p class="ship-info-text cont-sender">Telefono: <span class="ship-info
                                        -text cont-sender">2282567570</span></p>
                        </div>
                        <button class="button">Modificar</button>    
                    </div>
                    <div class="ship-info recipient-container">
                        <h2 class="ship-subtitle sbt-recipient">Destinatario</h2>
                        <div class="container-p-span-info">
                            
                            <p class="ship-info-text cont-recipient">Nombre: <span class="ship-info
                                -text cont-recipient">Juan Aldair Morales Romero</span></p>
                                <p class="ship-info-text cont-recipient">Direccion: <span class="ship-info
                                    -text cont-recipient">Vicente Vivero #137-1 Xalapa, Veracruz. C.P 91026</span></p>
                                    <p class="ship-info-text cont-recipient">Telefono: <span class="ship-info
                                        -text cont-recipient">9211351427</span></p>
                                    </div>
                                        <button class="button">Modificar</button>
                                        
                    </div>
                    <div class="ship-info package-container">
                        <h2 class="ship-subtitle sbt-package">Paquete</h2>
                        <div class="container-p-span-info">
                            <p class="ship-info-text cont-package">Peso: <span class="ship-info
                                -text cont-package">2.5 kg</span></p>
                                <p class="ship-info-text cont-package">Dimensiones: <span class="ship-info
                                    -text cont-package">30 x 20 x 10 cm</span></p>
                                </div>
                    </div>
                    <div class="ship-info status-container">
                        <h2 class="ship-subtitle sbt-status">Estado</h2>
                        <div class="container-p-span-info">

                            <p class="ship-info-text cont-status">Estado: <span class="ship-info
                                -text cont-status">En camino</span></p>
                            </div>
                    </div>
                    <div class="ship-info service-container">
                        <h2 class="ship-subtitle sbt-service">Servicio</h2>
                        <div class="container-p-span-info">

                            <p class="ship-info-text cont-service">Servicio: <span class="ship-info
                                -text cont-service">Express</span></p>
                            </div>
                    </div>
                </div>
                <div class="edit-status-shipment">
                    <form class="form">
                        <div class="form-group">    
                            <h1 class="ship-titles title-shipment-info">Cambiar Estado</h1>
                        </div>
                        <div class="form-inline new-section1">
                            <div class="form-group">
                                <label class="input-label label-new-info-status" for="new-status">Nuevo estado*</label>
                                <select class="status-selects" name="estatus" id="new-status">
                                    <option value="Estatus" disabled selected>Selecciona una opcion</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Transito">En tránsito</option>
                                    <option value="Detenido">Detenido</option>
                                    <option value="Entregado">Entregado</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="input-label label-new-info-status" for="new-ubication">Ubicacion</label>
                                <input class="input input-new-info-status" type="text" id="new-ubication">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-label label-new-info-status" for="new-observation">Notas Adicionales</label>
                            <textarea class="textarea txta-input-new-notes" id="new-observation" placeholder="Puede agregar notas adicionales necesarias"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="button btn-change-status" type="">Cambiar estatus</button>
                        </div>
                    </form>
                </div>                
            </div>
        </section>
    </main>
</body>

</html>