<!DOCTYPE html>
<html>

<head>
    <title>Modal</title>
    <link rel="stylesheet" href="../../styles/index.css">
</head>

<body>
    <!-- modal-hide -->
    <div class="body-modal " id="shipment-not-found-modal">
        <div id="notFoundModal" class="modal">
            <div class="modal-content-small">
                <button id="close-modal-button">x</button>
                <div class="form-group-modal">
                    <div class="form-inline-modal">
                        <img id="not-found-img" src="../../resources/icons/not-found-shipment.svg" alt="No encontrado">
                        <span id="not-found-message">Envío no encontrado</span>
                    </div>
                </div>
                <div class="form-group-modal">
                    <button class=" button btn-aceptar" id="btn-aceptar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>