/*
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  
   | |   ____  _____ _     _____     _______ ______   __  _____ _    ____ _____   ____ _______   ___     _____   | |  
   | |  |  _ \| ____| |   |_ _\ \   / / ____|  _ \ \ / / |  ___/ \  / ___|_   _| / ___|_   _\ \ / / |   | ____|  | |  
   | |  | | | |  _| | |    | | \ \ / /|  _| | |_) \ V /  | |_ / _ \ \___ \ | |   \___ \ | |  \ V /| |   |  _|    | |  
   | |  | |_| | |___| |___ | |  \ V / | |___|  _ < | |   |  _/ ___ \ ___) || |    ___) || |   | | | |___| |___   | |  
   | |  |____/|_____|_____|___|  \_/  |_____|_| \_\|_|   |_|/_/   \_\____/ |_|   |____/ |_|   |_| |_____|_____|  | |  
   | |                                                                                                           | |  
 __| |___________________________________________________________________________________________________________| |__
 __   ___________________________________________________________________________________________________________   __
   | |                                                                                                           | |  

    Nombre del archivo: form-styles.css
    
    Descripcion: El siguiente archivo contiene los estilos para los formularios de toda la app

    Estructura del archivo:
    - Buttons
    - Inputs
    - Forms
    - New shipment Sender Form
    - New shipment Recipient Form
      
*/



/*__________________________________________________  
         
            B  U  T  T  O  N  S  
____________________________________________________ 
*/

/* Boton base */
.button{
  background-color: var(--orange-color-higth-contrast);
  height: 38px;
  min-width: 180px;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

/* Boton base en rojo */
.button-red{
  background-color: #FF1C1C;
  height: 38px;
  min-width: 180px;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}


/*__________________________________________________  
         
            I   N   P   U   T   S  
____________________________________________________ 
*/

/* El input del grupo de Label e Input*/
.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


/* Input base */
.input{
  background-color: #FFFFFF;
  color: #222222;
  height: 34px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Tamaño del input*/
.input[type="text"] {
  width: calc(100% - 10px);
}

/* Placeholder del input base */
.input::placeholder {
  color: #787878;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size: 16px;
}

/* Label base */
.input-label{
  display: block;
  margin-bottom: 5px;
  background-color: transparent;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}

.about-titles-labels{
  font-size: 24px;
}



/*__________________________________________________  
         
              F   O   R   M   S 
____________________________________________________ 
*/

/* Contenedor de el formulario*/
.form-card{
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* El formulario*/
.form{
  background: transparent;
}

/* Titulo del formulario */
.form-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 15px;
}

/* Conjunto de Label e Input*/
.form-group {
  margin-bottom: 15px;
}

/* Elementos que estan en linea*/
.form-inline {
  display: flex;
  gap: 10px;
}

/* Adaptacion a diferentes tamaños de pantalla*/
.form-inline .form-group {
  flex: 1;
}





/*__________________________________________________  
         
        S  E  N  D  E  R   F  O  R  M 
____________________________________________________ 
*/


.form-sender, .form-recipient{
  max-width: 800px;
}