<!-- APP JS
La aplicación a realizar sera una single page application con js vanilla
Este html contiene los componentes basicos y todo sera creado dinamicamente
con archivos js de tipo modulo 
-->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../../styleS/general-styles.css">
    <link rel="stylesheet" href="../../styles/tables-styles.css">
    <link rel="stylesheet" href="../../styles/forms-styles.css">

    <title>DELIVERY FAST</title>
</head>

<body>

    <header>
        <nav class="nav-menu">
            <img class="menu-icon" src="../../resources/icons/menu.svg" alt="Menu Icon Header">
        </nav>
        <div class="container-logo">
            <img class="logo-extendido" src="../../resources/brand/logotipo/logotipo-extendido.svg"
                alt="Delivery Fast Logo Header">
        </div>
        <div class="user-info-container">
            <!-- I N F O R M A C I O N  D E  U S U A R I O  D I N A M I C O  -->
             <script src="empty" type="module"></script>
        </div>
    </header>


    <main class="main-container">

        <aside class="sidebar-menu-container">
            <!-- M E N U  D I N A M I C O -->

            <div class="sidebar-card module-empty"></div>
        </aside>

        <section class="content-section">
            <!-- C O N T E N I D O   D I N A M I C O -->

        </section>
    </main>
</body>

</html>