<!-- :::::::::::::::::::::: S I N G L E   P A G E  A P P L I C A T I O N  :::::::::::::::::::::::::::::::-->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Edgar Yael Cortes Carrillo y Julio Aldair Morales Romero">
    <link rel="icon" href="../resources/favicon/favicon.ico">
    <title>Delivery Fast</title>

    <!-- :::::::::::::::::::::::  Hojas de estilo   :::::::::::::::::::::::  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../styles/general-styles.css">
    <link rel="stylesheet" href="../styles/tables-styles.css">
    <link rel="stylesheet" href="../styles/forms-styles.css">
    <link rel="stylesheet" href="../styles/modal-user-styles.css">
    <link rel="stylesheet" href="../styles/efects-styles.css">

    <!-- :::::::::::::::::::::::  Script de informacion global   :::::::::::::::::::::::  -->
    <script src="../js/data/shipment_data.js" type="module"></script>
    <script src="../js/data/menu_data.js" type="module"></script>
    <script src="../js/data/htmlPages_data.js" type="module"></script>

    <!-- :::::::::::::::::::::::  Script de comportamiento global   :::::::::::::::::::::::  -->
    <script src="../js/ui/screen-manager.js" type="module" defer></script>
    <script src="../js/ui/sidebar/sidebar-behavior.js" type="module" defer></script>


</head>
<body>
    <!-- ::::::::::::::::::::::: Scripts dinamicos :::::::::::::::::::::::  -->
    <div id="script_container_ns"></div>

    <!-- P A N T A L L A  D E  C A R G A -->
    <div id="loading-container">
        <div class="loading-screen"><div class="loading"></div><img src="../resources/brand/isotipo/isotipo.svg" alt="Cargando" class="image-loader"></div>
    </div>

    <header id="header">
        <!-- H E A D E R  D I N A M I C O -->
    </header>
    <script src="../js/ui/header/create-header.js" type="module"></script>

    <main class="main-container">

        <aside class="sidebar-menu-container" id="sidebar-menu-container">
            <!-- M E N U  D I N A M I C O -->
        </aside>
        <script src="../js/ui/sidebar/create-sidebar.js" type="module"></script>

        <section class="content-section" id="content-section">
            <!-- C O N T E N I D O   D I N A M I C O -->
        </section>

    </main>
</body>

</html>