<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>DELIVERY FAST</title>
    <link rel="stylesheet" href="/styles/colabview-style.css">
</head>
<body>
    <header>
        <nav class="nav-menu">
            <img class="menu-icon" src="/resources/icons/menu.svg" alt="Menu Icon Header">
        </nav>
        <div class="container-logo">
            <img class="logo-extendido" src="/resources/brand/logotipo/logotipo-extendido.svg" alt="Delivery Fast Logo Header">
        </div>
        <div class="user-info-container">
            <h1 class="user-rol">COLABORADOR SUCURSAL 1</h1>
            <img class="user-logo" src="/resources/icons/perfil-icon.svg" alt="Profile Picture">
        </div>
    </header>
    <div class="container-body">
        <aside class="sidebar-menu">
            <div class="card module-create">
                <button class="new-shupment-btn">
                    <img class="new-shuptment-img" src="/resources/icons/nuevoFinal.svg" alt="crear nuevo envio">
                    Nuevo envío
                </button>
            </div>
            <div class="card module-shupment">
                <p class="list-title">Modulo envíos</p>
                <li>
                    <ul>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/inicio.svg" alt="">
                            Inicio</a></li>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/lupa.svg" alt="">
                            Buscar envíos</a></li>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/caja-registradora.svg" alt="">
                            Ingresos</a></li>
                    </ul>
                </li>
            </div>
            <div class="card module-packet">
                <p class="list-title">Modulo paquetes</p>
                <li>
                    <ul>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/buscar-envioFinal.svg" alt="">
                            Paquetes</a></li>
                    </ul>
                </li>
            </div>
            
        </aside>
        <main class="main-content">
        </main>
    </div>
</body>
</html>
