<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>DELIVERY FAST</title>
    <link rel="stylesheet" href="/styles/colabview-style.css">
</head>
<body>
    <header>
        <nav class="nav-menu">
            <img class="menu-icon" src="/resources/icons/menu.svg" alt="Menu Icon Header">
        </nav>
        <div class="container-logo">
            <img class="logo-extendido" src="/resources/brand/logotipo/logotipo-extendido.svg" alt="Delivery Fast Logo Header">
        </div>
        <div class="user-info-container">
            <h1 class="user-rol">COLABORADOR SUCURSAL 1</h1>
            <img class="user-logo" src="/resources/icons/perfil-icon.svg" alt="Profile Picture">
        </div>
    </header>
    <main class="main-container">
        <aside class="sidebar-menu">
            <div class="card module-create">
                <button class="new-shupment-btn">
                    <img class="new-shuptment-img" src="/resources/icons/nuevoFinal.svg" alt="crear nuevo envio">
                    Nuevo envío
                </button>
            </div>
            <div class="card module-shupment">
                <p class="list-title">Modulo envíos</p>
                <li>
                    <ul>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/inicio.svg" alt="">
                            Inicio</a></li>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/lupa.svg" alt="">
                            Buscar envíos</a></li>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/caja-registradora.svg" alt="">
                            Ingresos</a></li>
                    </ul>
                </li>
            </div>
            <div class="card module-packet">
                <p class="list-title">Modulo paquetes</p>
                <li>
                    <ul>
                        <li class="li-content"><a class="a-li-content" href="#">
                            <img class="icon-li" src="/resources/icons/buscar-envioFinal.svg" alt="">
                            Paquetes</a></li>
                    </ul>
                </li>
            </div>
        </aside>
        <section class="content-section">
            <h1 class="section-title-shupment">Envíos</h1>
            <div class="shupment-content">
                <div class="filter-container">
                    <select class="filter-selects" name="tipo" id="tipo">
                        <option value="Tipo" disabled selected>Tipo</option>
                        <option value="Express">Express</option>
                        <option value="Dia-siguiente">Dia siguiente</option>
                        <option value="Terrestre">Terrestre</option>
                    </select>
                    <select class="filter-selects" name="estatus" id="estatus">
                        <option value="Estatus" disabled selected>Estatus</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Transito">En tránsito</option>
                        <option value="Detenido">Detenido</option>
                        <option value="Entregado">Entregado</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                    <select class="filter-selects" name="seguro" id="seguro">
                        <option value="Seguro" disabled selected>Seguro</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                    <button class="btnClean">
                        <img class=filter-btnClean src="/resources/icons/tacho-de-reciclaje.svg" alt="">
                    </button>
                </div>
                <div class="table-container">
                    <table class="shipment-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>No Folio</th>
                                <th>Consignatario</th>
                                <th>Estatus</th>
                                <th>Tipo de servicio</th>
                                <th>Ciudad destino</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox">
                                <td>0000001</td>
                                <td>José Pérez González</td>
                                <td>En tránsito</td>
                                <td>Express</td>
                                <td>Veracruz, Veracruz</td>
                                <td><button class="btnClean">
                                    <img class=filter-btnClean src="/resources/icons/tacho-de-reciclaje.svg" alt="">
                                </button></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>0000002</td>
                                <td>Alejandra García Sánchez</td>
                                <td>En tránsito</td>
                                <td>Express</td>
                                <td>Puebla, Puebla</td>
                                <td><button class="btnClean">
                                    <img class=filter-btnClean src="/resources/icons/tacho-de-reciclaje.svg" alt="">
                                </button></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>0000003</td>
                                <td>Cristóbal Martínez Ramírez</td>
                                <td>Detenido</td>
                                <td>Express</td>
                                <td>Guadalajara, Jalisco</td>
                                <td><button class="btnClean">
                                    <img class=filter-btnClean src="/resources/icons/tacho-de-reciclaje.svg" alt="">
                                </button></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>0000004</td>
                                <td>Valeria Gómez Herrera</td>
                                <td>En tránsito</td>
                                <td>Express</td>
                                <td>Tijuana, Baja California</td>
                                <td><button class="btnClean">
                                    <img class=filter-btnClean src="/resources/icons/tacho-de-reciclaje.svg" alt="">
                                </button></td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>
    </main>
</body>
</html>
